
.vs/net_working/v14/.suo
data_interchange/data_interchange.vcxproj.user
net_working.VC.db
net_working.VC.VC.opendb
publish/Debugx86/data_interchange.log
publish/Debugx86/data_interchange.tlog/data_interchange.lastbuildstate
